.app {
  @apply rounded-xl;
  width: 850px;
  height: 647px;
  box-shadow: inset 0px 0px 0px 4px #25262b;
  padding: 4px;
  background: #2c2e33;
}

.app .light-shadow {
  box-shadow: inset 0px 0px 0px 4px #c0c2c9;
}
