@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap');

/* @tailwind base; */
/* @tailwind components; */
@tailwind utilities;

@layer {
  .draggable {
    -webkit-app-region: drag;
  }
}

:root,
body {
  background: transparent !important;
  user-select: none;
  width: 850px;
  height: 647px;
}
